*

!/.gitignore
!/.local/bin
!/.local/bin/*
!/.vim
!/.vim/*
!/.vim/**/*
/.vim/.netrwhist
!/.vimrc
!/.nvim
!/.nvimrc
!/.zshrc
!/.zsh-completions
!/.zsh-completions/*
!/.oh-my-zsh
!/.config
!/.config/user-dirs.dirs
