export LC_ALL=en_US.UTF-8

export PATH="$HOME/.local/bin:/usr/local/bin:$PATH"
{{ if eq .chezmoi.os "darwin" }}
export PATH="$PATH:/opt/homebrew/bin:/opt/homebrew/opt/llvm/bin"
export ZSH_CACHE_DIR=$HOME/Library/Caches/zsh
{{ end }}
export PATH="$PATH:$HOME/.krew/bin:$GOPATH/bin"

export EDITOR=nvim
alias vim=nvim

# Enable completions
autoload -Uz compinit && compinit

compdef vim=nvim

###############################################################################################################
# Antidote Config #############################################################################################
###############################################################################################################

# Set the name of the static .zsh plugins file antidote will generate.
zsh_plugins=${ZDOTDIR:-~}/.zsh_plugins.zsh

# Ensure you have a .zsh_plugins.txt file where you can add plugins.
[[ -f ${zsh_plugins:r}.txt ]] || touch ${zsh_plugins:r}.txt

# Lazy-load antidote.
fpath+=(${ZDOTDIR:-~}/.antidote)
autoload -Uz $fpath[-1]/antidote

# Generate static file in a subshell when .zsh_plugins.txt is updated.
if [[ ! $zsh_plugins -nt ${zsh_plugins:r}.txt ]]; then
  (antidote bundle <${zsh_plugins:r}.txt >|$zsh_plugins)
fi

# Source your static plugins file.
source $zsh_plugins


###############################################################################################################
# Colors Config ###############################################################################################
###############################################################################################################

export LS_COLORS="di=1;34:ln=1;36:so=1;31:pi=1;33:ex=1;32:bd=1;34;46:cd=1;34;43:su=0;41:sg=0;46:tw=0;42:ow=0;43"
export LSCOLORS="ExGxBxDxCxEgEdxbxgxcxd"
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' menu select
