[tools]
bat = "latest"
bitwarden = "latest"
chezmoi = "latest"
dagger = "latest"
difftastic = "latest"
fd = "latest"
fzf = "latest"
git-absorb = "latest"
github-cli = "latest"
gitu = "latest"
"aqua:tomnomnom/gron" = "latest"
hexyl = "latest"
neovim = "latest"
jj = "latest"
jq = "latest"
pre-commit = "latest"
ripgrep = "latest"
typst = "latest"
yt-dlp = "latest"
yq = "latest"
zellij = "latest"

{{- if has "gocryptfs" .groups }}
gocryptfs = "latest"
{{- end }}

{{- if has "go" .groups }}
buf = "latest"
capslock = "latest"
delve = "latest"
go = "latest"
golangci-lint = "latest"
protoc = "latest"
protoc-gen-connect-go = "latest"
protoc-gen-go = "latest"
protoc-gen-go-grpc = "latest"
{{- end }}

{{- if has "kubernetes" .groups }}
helm = "latest"
k3d = "latest"
k9s = "latest"
kapp = "latest"
kind = "latest"
krew = "latest"
kubectl = "latest"
kubectx = "latest"
lima = "latest"
colima = "latest"
minikube = "latest"
tilt = "latest"
ytt = "latest"
{{- end }}

{{- if has "cloud" .groups }}
aws-cli = "latest"
aws-nuke = "latest"
azure = "latest"
opentofu = "latest"
packer = "latest"
pulumi = "latest"
{{- end }}

{{- if has "rust" .groups }}
rust = "latest"
{{- end }}

{{- if has "zig" .groups }}
zig = "latest"
{{- end }}

{{- if has "elixir" .groups }}
erlang = "latest"
elixir = "latest"
{{- end }}

{{- if has "node" .groups }}
node = "latest"
{{- end }}

{{- if has "python" .groups }}
uv = "latest"
{{- end }}

[alias]
capslock = "go:github.com/google/capslock/cmd/capslock"
delve = "go:github.com/go-delve/delve/cmd/dlv"
git-absorb = "ubi:tummychow/git-absorb"
hexyl = "ubi:sharkdp/hexyl"
protoc-gen-connect-go = "go:connectrpc.com/connect/cmd/protoc-gen-connect-go"

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["go"]

[tasks.new-gitconfig]
description = "Create a new .gitconfig file the in current directory and include it for all git repos below this path"
run = '''
touch .gitconfig
git config set --global includeif.gitdir:$(pwd)/.path $(pwd)/.gitconfig
'''
