[tools]
bat = "latest"
go = "latest"
neovim = "latest"
node = "latest"
openbao = "latest"
opentofu = "latest"
packer = "latest"
pkl = "latest"
pre-commit = "latest"
protoc = "latest"
protoc-gen-connect-go = "latest"
protoc-gen-go = "latest"
protoc-gen-go-grpc = "latest"
pulumi = "latest"
ripgrep = "latest"
rust = "latest"
typst = "latest"
yt-dlp = "latest"
zellij = "latest"
zig = "latest"
bitwarden = "latest"
kubectl = "latest"
jq = "latest"
github-cli = "latest"
fzf = "latest"
fd = "latest"
difftastic = "latest"
elixir = "latest"
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
gocryptfs = "latest"
{{- end }}
buf = "latest"
uv = "latest"
chezmoi = "latest"
golangci-lint = "latest"
gitu = "latest"
gh = "latest"
jj = "latest"
"go:github.com/go-delve/delve/cmd/dlv" = "latest"
"go:github.com/google/capslock/cmd/capslock" = "latest"

[settings]
experimental = true
